extends /_layouts/_html

block page_content

  .profile

    .profile__content

      if public.profiles._data[current.source]

        - var profileImage = public.profiles._data[current.source]['image'];
        - var profileName = public.profiles._data[current.source]['name'];
        - var profileTitle = public.profiles._data[current.source]['title'];
        - var profileTime = public.profiles._data[current.source]['time'];
        - var profileRole = public.profiles._data[current.source]['role'];
        - var profileOrigin = public.profiles._data[current.source]['origin'];
        - var profileTags = public.profiles._data[current.source]['tags'];

        .profile__content-image
          img(src='/images/profiles/#{profileImage}.jpg', alt='#{profileName.toLowerCase().replace(" ", "-")}', title='#{profileName}')

          .profile__content-image__name
            h2 #{profileName}

        .profile__content-resume

          h5.profile__content-resume__title Profile

          .profile__content-resume__item
            svg.profile__content-resume__item-time
              use(href='#time-icon')
            span Time in tech
            |  #{profileTime}

          .profile__content-resume__item
            svg.profile__content-resume__item-role
              use(href='#role-icon')
            span Current role
            |  #{profileRole}

          .profile__content-resume__item
            svg.profile__content-resume__item-origin
              use(href='#origin-icon')
            span Place of origin
            |  #{profileOrigin}

          .profile__content-resume__item-social

          - var socialNetwork = Object.keys(socialMedia);

            for socialItem in socialNetwork
              if socialMedia[socialItem]

                a(href="#{socialMedia[socialItem].url}" target="_blank")
                 svg.profile__content-resume__item-social__icon
                  use(href='##{socialItem}-icon')


        .profile__content-interview
          h6.profile__content-interview__title Tell us more about you:
          include ../_partials/_profile_content
          include ../_partials/_profile_external_links
          != yield

        .profile__content-tags

          - var profileFooterTags = public.profiles._data[current.source].tags;
            if profileFooterTags

            each profileTag, profileTagIndex in profileFooterTags
              if (profileTagIndex > 0)
                | &nbsp;
              a.profile__content-tags__links(href="##{postTag}")!= profileTag



  include ../_partials/_footer


