extends /_layouts/_html

block page_content

  .profile-alt

    .profile-alt__content

      if public.profiles._data[current.source]

        - var profileImage = public.profiles._data[current.source]['image'];
        - var profileName = public.profiles._data[current.source]['name'];
        - var profileTitle = public.profiles._data[current.source]['title'];
        - var profileTime = public.profiles._data[current.source]['time'];
        - var profileRole = public.profiles._data[current.source]['role'];
        - var profileOrigin = public.profiles._data[current.source]['origin'];
        - var profileTags = public.profiles._data[current.source]['tags'];


        .profile-alt__content-header

          .profile-alt__content-image__container
            .profile-alt__content-image
              img(src='/images/profiles/#{profileImage}.jpg', alt='#{profileName.toLowerCase().replace(" ", "-")}', title='#{profileName}')

          .profile-alt__content-resume__container
            .profile-alt__content-resume

              .profile-alt__content-resume__name
                h2 #{profileName}

              h5.profile-alt__content-resume__title Profile

              .profile-alt__content-resume__item
                svg.profile-alt__content-resume__item-time
                  use(href='#time-icon')
                span Time in tech
                |  #{profileTime}

              .profile-alt__content-resume__item
                svg.profile-alt__content-resume__item-role
                  use(href='#role-icon')
                span Current role
                |  #{profileRole}

              .profile-alt__content-resume__item
                svg.profile-alt__content-resume__item-origin
                  use(href='#origin-icon')
                span Place of origin
                |  #{profileOrigin}

              .profile-alt__content-resume__item-social

              - var socialNetwork = Object.keys(socialMedia);

                for socialItem in socialNetwork
                  if socialMedia[socialItem]

                    a(href="#{socialMedia[socialItem].url}" target="_blank")
                     svg.profile-alt__content-resume__item-social__icon
                      use(href='##{socialItem}-icon')


        .profile-alt__content-interview
          h6.profile-alt__content-interview__title Tell us more about you:
          include ../_partials/_profile_content
          include ../_partials/_profile_external_links
          != yield

        .profile-alt__content-tags

          - var profileFooterTags = public.profiles._data[current.source].tags;
            if profileFooterTags

            each profileTag, profileTagIndex in profileFooterTags
              if (profileTagIndex > 0)
                | &nbsp;
              a.profile-alt__content-tags__links(href="##{postTag}")!= profileTag



  include ../_partials/_footer


