.profile-cards

  ul.profile-cards__content

    for profile, slug in public.profiles._data
      if (slug !== 'index')
        li.profile-cards__content-item
          a.profile-cards__item(href='/profiles/#{slug}')
            .profile-cards__item-image
              img(src='/images/profiles/#{profile.image}.jpg', alt='#{profile.title.toLowerCase().replace(" ", "-")}', title='#{profile.title}')
            h5.profile-cards__item-name #{profile.name}
            h6.profile-cards__item-title #{profile.title}
